@{
    Layout = "_LayoutAuth";
}

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            @RenderBody()
        </main>
    </div>
</div>