<!-- Start: Search Section (template: wwwroot/index.html) -->
<section class="search-filters">
    <div class="container">
        <div class="filter-box">
            <h3>Bạn đang tìm gì tại thư viện?</h3>
            <form asp-controller="Book" asp-action="Index" method="get">
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label class="sr-only" for="keywords">Từ khóa</label>
                        <input class="form-control" placeholder="Tìm theo từ khóa" id="keywords" name="keywords" type="text" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <select name="catalog" id="catalog" class="form-control">
                            <option>Tìm trong danh mục</option>
                            <option>Danh mục 01</option>
                            <option>Danh mục 02</option>
                            <option>Danh mục 03</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <select name="category" id="category" class="form-control">
                            <option>Tất cả thể loại</option>
                            <option>Văn học</option>
                            <option>Kinh tế</option>
                            <option>Kỹ năng</option>
                            <option>Thiếu nhi</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="form-group">
                        <input class="form-control" type="submit" value="TÌM KIẾM" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End: Search Section -->
