@{
    var useInnerHeader = ViewData["LibrariaInnerHeader"] as bool? ?? true;
    var headerClass = useInnerHeader ? "navbar-wrapper inner-navbar-wrapper" : "navbar-wrapper";
}
<!-- Start: Header Section -->
<header id="header-v1" class="@headerClass">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="row">
                    <div class="col-md-3">
                        <div class="navbar-header">
                            <div class="navbar-brand">
                                <h1>
                                    <a asp-controller="Home" asp-action="Index">
                                        <img src="~/images/libraria-logo-v1.png" alt="BookStore" />
                                    </a>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <!-- Header Topbar -->
                        <div class="header-topbar hidden-sm hidden-xs">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="topbar-info">
                                        <a href="tel:+61-3-8376-6284"><i class="fa fa-phone"></i>+61-3-8376-6284</a>
                                        <span>/</span>
                                        <a href="mailto:support@bookstore.com"><i class="fa fa-envelope"></i>support@bookstore.com</a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="topbar-links">
                                        @if (User.Identity?.IsAuthenticated == true)
                                        {
                                            <a asp-controller="Account" asp-action="Profile">
                                                <i class="fa fa-user"></i>@User.Identity.Name
                                            </a>
                                            <span>|</span>
                                            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" style="display:inline;">
                                                <button type="submit" style="background:none;border:none;color:inherit;cursor:pointer;padding:0;">
                                                    <i class="fa fa-lock"></i> Đăng xuất
                                                </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <a asp-controller="Account" asp-action="Login">
                                                <i class="fa fa-lock"></i> Đăng nhập
                                            </a>
                                            <span>|</span>
                                            <a asp-controller="Account" asp-action="Register">
                                                <i class="fa fa-user-plus"></i> Đăng ký
                                            </a>
                                        }
                                        <span>|</span>
                                        <div class="header-cart dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                                <i class="fa fa-shopping-cart"></i>
                                                <small id="cartCount">0</small>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-collapse hidden-sm hidden-xs">
                            <ul class="nav navbar-nav">
                                <li class="dropdown active">
                                    <a data-toggle="dropdown" class="dropdown-toggle disabled" asp-controller="Home" asp-action="Index">Trang chủ</a>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle disabled" asp-controller="Book" asp-action="Index">Sách</a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-controller="Book" asp-action="List">Danh sách sách</a></li>
                                        <li><a asp-controller="Book" asp-action="Grid">Lưới sách</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle disabled" href="#">Tin tức</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Tin tức</a></li>
                                        <li><a href="#">Chi tiết tin tức</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle disabled" href="#">Giỏ hàng</a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-controller="Cart" asp-action="Index">Giỏ hàng</a></li>
                                        <li><a asp-controller="Checkout" asp-action="Index">Thanh toán</a></li>
                                        <li><a asp-controller="Order" asp-action="MyOrders">Đơn hàng của tôi</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="mobile-menu hidden-lg hidden-md">
                    <a href="#mobile-menu"><i class="fa fa-navicon"></i></a>
                    <div id="mobile-menu">
                        <ul>
                            <li class="mobile-title">
                                <h4>Navigation</h4>
                                <a href="#" class="close"></a>
                            </li>
                            <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                            <li><a asp-controller="Book" asp-action="Index">Sách</a></li>
                            <li><a href="#">Tin tức</a></li>
                            <li><a asp-controller="Cart" asp-action="Index">Giỏ hàng</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            @if (User.Identity?.IsAuthenticated == true)
                            {
                                <li><a asp-controller="Account" asp-action="Profile">Tài khoản</a></li>
                                <li>
                                    <form asp-controller="Account" asp-action="Logout" method="post">
                                        <button type="submit" style="background:none;border:none;padding:0;">Đăng xuất</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li><a asp-controller="Account" asp-action="Login">Đăng nhập</a></li>
                                <li><a asp-controller="Account" asp-action="Register">Đăng ký</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- End: Header Section -->
