<!-- Start: Footer -->
<footer class="site-footer">
    <div class="container">
        <div id="footer-widgets">
            <div class="row">
                <div class="col-md-4 col-sm-6 widget-container">
                    <div id="text-2" class="widget widget_text">
                        <h3 class="footer-widget-title">Về BookStore</h3>
                        <span class="underline left"></span>
                        <div class="textwidget">
                            Chúng tôi cung cấp những cuốn sách chất lượng nhất với giá cả hợp lý.
                        </div>
                        <address>
                            <div class="info">
                                <i class="fa fa-location-arrow"></i>
                                <span>Đại Học FPT, Thạch Hòa, Thạch Thất, Hà Nội</span>
                            </div>
                            <div class="info">
                                <i class="fa fa-envelope"></i>
                                <span><a href="mailto:support@bookstore.com">support@bookstore.com</a></span>
                            </div>
                            <div class="info">
                                <i class="fa fa-phone"></i>
                                <span><a href="tel:012-345-6789">+012-345-6789</a></span>
                            </div>
                        </address>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 widget-container">
                    <div id="nav_menu-2" class="widget widget_nav_menu">
                        <h3 class="footer-widget-title">Liên kết nhanh</h3>
                        <span class="underline left"></span>
                        <div class="menu-quick-links-container">
                            <ul id="menu-quick-links" class="menu">
                                <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                                <li><a asp-controller="Book" asp-action="Index">Sách</a></li>
                                <li><a asp-controller="About" asp-action="Index">Tin tức</a></li>
                                <li><a asp-controller="About" asp-action="Index">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix hidden-lg hidden-md hidden-xs tablet-margin-bottom"></div>
                <div class="col-md-2 col-sm-6 widget-container">
                    <div id="text-4" class="widget widget_text">
                        <h3 class="footer-widget-title">Giờ mở cửa</h3>
                        <span class="underline left"></span>
                        <div class="timming-text-widget">
                            <time>Thứ 2 - Thứ 5: 9:00 - 21:00</time>
                            <time>Thứ 6: 9:00 - 18:00</time>
                            <time>Thứ 7: 9:00 - 17:00</time>
                            <time>Chủ nhật: 13:00 - 18:00</time>
                            <ul>
                                <li><a href="#">Ngày nghỉ</a></li>
                                <li><a href="#">Chi nhánh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 widget-container">
                    <div class="widget twitter-widget">
                        <h3 class="footer-widget-title">Tin mới nhất</h3>
                        <span class="underline left"></span>
                        <div id="twitter-feed">
                            <ul>
                                <li>
                                    <p><a href="#">@@BookStoreVN</a> Cập nhật những cuốn sách mới nhất và ưu đãi tại cửa hàng. <a href="#">bookstore.vn</a></p>
                                </li>
                                <li>
                                    <p><a href="#">@@BookStoreVN</a> Đọc sách mọi lúc, mọi nơi cùng BookStore. <a href="#">bookstore.vn</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="footer-text col-md-3">
                    <p><a asp-controller="Home" asp-action="Index">BookStore</a></p>
                </div>
                <div class="col-md-9 pull-right">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                        <li><a asp-controller="Book" asp-action="Index">Sách</a></li>
                        <li><a asp-controller="About" asp-action="Index">Tin tức</a></li>
                        <li><a href="#">Thiếu nhi</a></li>
                        <li><a href="#">Dịch vụ</a></li>
                        <li><a asp-controller="About" asp-action="Index">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End: Footer -->
